@font-face {
  font-family: 'Ubuntu Mono';
  /* DIGEST() is for the digest-brunch plugin. */
  src: url('DIGEST(fonts/ubuntu-mono.woff2)') format('woff2'),
       url('DIGEST(fonts/ubuntu-mono.woff)') format('woff');
  font-weight: normal;
  font-style: normal;
}
