.yc-app {
  height: 100%;
}

.yc-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  /* Sometimes there is an extra pixel on the bottom.  Rounding? */
  overflow-y: hidden;
}

.yc-layout-row {
  display: flex;
}

.yc-layout .yc-lp {
  flex: 22.5;
}

.yc-layout .yc-lp-val {
  font-size: 12vh;
}

.yc-layout .yc-lp-gain,
.yc-layout .yc-lp-lose {
  font-size: 13vh;
}

.yc-layout-status {
  flex: 10;
  font-size: 7vh;
}

.yc-layout-functions .yc-button {
  width: 20%;
}

.yc-layout-operand-table {
  width: calc(40% + 5px);
  position: relative;
}

.yc-layout-operand-cell {
  height: 100%;
  position: absolute;
  right: 5px;
}

.yc-layout-operand-cell .yc-operand {
  height: 100%;
}

.yc-layout-functions,
.yc-layout-digits {
  flex: 15;
  font-size: 12vh;
}

.yc-layout-digits .yc-digit {
  flex: 1;
}

.yc-layout-status .yc-timer,
.yc-layout-functions .yc-timer {
  flex: 3;
}

.yc-layout-functions .yc-button {
  width: 20%;
}

.yc-layout .yc-history,
.yc-layout .yc-random {
  flex: 90;
}

.yc-layout .yc-history-row,
.yc-layout .yc-history-break {
  font-size: 2.5vh;
}

.yc-close {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 2;

  cursor: pointer;
}
