.yc-lp {
  display: flex;
}

.yc-lp-val,
.yc-lp-gain,
.yc-lp-lose,
.yc-lp-halve {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yc-lp-val {
  flex: 1;
}

.yc-lp-gain,
.yc-lp-lose,
.yc-lp-halve {
  cursor: pointer;
}

.yc-lp-gain,
.yc-lp-lose {
  width: 20%;
}

.yc-lp-halve {
  width: 10%;
}
