body {
  font-family: 'Ubuntu Mono', monospace;
}

.yc-lp-val,
.yc-lp-gain,
.yc-lp-lose,
.yc-lp-halve,
.yc-timer,
.yc-layout-operand-table,
.yc-random-cell,
.yc-button,
.yc-digit,
.yc-close {
  border-radius: 3px;
}

.yc-icon-container {
  position: relative;
}

.yc-icon-container > * {
  /* Hack to make an SVG fill but constrain by container width/height. */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  /* Ensure space around edges. */
  padding: 5px;
}

/* Material Design ("MD") colors from
   https://materialui.co/colors */

.yc-lp-val,
.yc-layout-status > *,
.yc-random-cell {
  background-color: #eeeeee;    /* MD Grey 200 */
}

.yc-timer:active,
.yc-close:active,
.yc-random-cell:active {
  background-color: #e0e0e0;    /* MD Grey 300 */
}

.yc-lp-val {
  margin: 5px 5px 0 5px;
}

.yc-lp-gain,
.yc-lp-lose,
.yc-lp-halve {
  color: #fff;
  margin: 5px 5px 0 0;
}

.yc-lp-gain {
  background-color: #4caf50;    /* MD Green 500 */
}

.yc-lp-gain:active {
  background-color: #66bb6a;    /* MD Green 400 */
}

.yc-lp-lose,
.yc-lp-halve {
  background-color: #673ab7;    /* MD Deep Purple 500 */
}

.yc-lp-lose:active,
.yc-lp-halve:active {
  background-color: #7e57c2;    /* MD Deep Purple 400 */
}

.yc-layout-status > * {
  margin: 5px 0 5px 5px;
}

.yc-layout-status > *:last-child {
  margin: 5px;
}

.yc-lp-gain,
.yc-lp-lose,
.yc-lp-halve,
.yc-reset-button,
.yc-back-button,
.yc-random-button,
.yc-history-button,
.yc-undo-button,
.yc-digit {
  color: #fff;
  fill: #fff;
}

.yc-timer-warning {
  background-color: #ffc107;    /* MD Amber 500 */
  color: #fff;
}

.yc-timer-warning:active {
  background-color: #ffca28;    /* MD Amber 400 */
}

.yc-timer-overtime {
  background-color: #ffc107;    /* MD Amber 500 */
  color: #fff;
}

.yc-timer-overtime:active {
  background-color: #ffca28;    /* MD Amber 400 */
}

.yc-timer-warning-icon svg {
  fill: #fff;
}

.yc-reset-button,
.yc-back-button {
  background-color: #f44336;   /* MD Red 500 */
}

.yc-reset-button:active,
.yc-back-button:active {
  background-color: #ef5350;   /* MD Red 400 */
}

.yc-random-button,
.yc-history-button,
.yc-undo-button {
  background-color: #009688;    /* MD Teal 500 */
}

.yc-random-button:active,
.yc-history-button:active,
.yc-undo-button:active {
  background-color: #26a69a;    /* MD Teal 400 */
}

.yc-digit {
  background-color: #424242;    /* MD Grey 800 */
}

.yc-digit:active {
  background-color: #616161;    /* MD Grey 700 */
}

.yc-layout > *:nth-child(4) > *:not(:last-child),
.yc-layout > *:nth-child(5) > *:not(:last-child),
.yc-layout > *:nth-child(6) > *:not(:last-child) {
  margin: 0 0 5px 5px;
}

.yc-layout > *:nth-child(4) > *:last-child,
.yc-layout > *:nth-child(5) > *:last-child,
.yc-layout > *:nth-child(6) > *:last-child {
  margin: 0 5px 5px 5px;
}

.yc-history-row-p1 {
  color: #880e4f;               /* MD Pink 900 */
}

.yc-history-row-p1:nth-child(odd) {
  background-color: #f8bbd0;    /* MD Pink 100 */
}

.yc-history-row-p1:nth-child(even) {
  background-color: #f48fb1;    /* MD Pink 200 */
}

.yc-history-row-p2 {
  color: #01579b;               /* MD Light Blue 900 */
}

.yc-history-row-p2:nth-child(odd) {
  background-color: #b3e5fc;    /* MD Light Blue 100 */
}

.yc-history-row-p2:nth-child(even) {
  background-color: #81d4fa;    /* MD Light Blue 200 */
}
