* {
    user-select: none;

    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;

    /* Default font. */
    font-family: sans-serif;

    background-color: #131313;
}

.yc-life-points,
.yc-expression,
.yc-button,
.yc-timer {
    position: absolute;
}

.yc-life-points,
.yc-expression,
.yc-button,
.yc-button-inner,
.yc-timer,
.yc-timer-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LCD color scheme. */
.yc-life-points,
.yc-expression {
    color: #111612;
    background-color: #C9D4CB;
    font-family: 'Droid Sans Mono';
}

.yc-life-points {
    top: 0;

    width: 50%;
    height: 15%;

    font-size: 64px;
}

.yc-life-points-overflowing {
    font-size: 48px;
}

.yc-life-points-0 {
    left: 0;
}

.yc-life-points-1 {
    right: 0;
}

.yc-expression {
    top: 15%;

    width: 100%;
    height: 10%;

    font-size: 48px;
}

@keyframes yc-blinker-blink {
    50% {
        opacity: 0;
    }
}

.yc-blinker {
    width: 2px;
    height: 100%;
    background-color: #111612;

    /* Pulsate. */
    opacity: 1;
    animation: yc-blinker-blink 1s step-start infinite;

    /* Clever trick to exclude padding from background. */
    background-clip: content-box;
    padding: 1% 0;
}

.yc-selected-operand-digit {
    color: #ddd;
    background-color: #111612;
    height: 100%;
}

.yc-button,
.yc-timer {
    padding: 1%;

    font-size: 60px;
}

.yc-button:active .yc-button-inner {
    position: relative;
    top: 1px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.25),
                inset 0 5px 30px rgba(0, 0, 0, 0.25);
}

.yc-button {
    width: 20%;
    height: 15%;

    font-family: 'Droid Sans';

    cursor: pointer;
}

.yc-button-inner,
.yc-timer-inner {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-clip: padding-box;
}

.yc-button-inner {
    border: 1px solid rgba(0, 0, 0, .05);
    color: #ddd;
    text-shadow: 0px -2px 0px rgba(0, 0, 0, .5);
    background-color: #333;
    background-image: linear-gradient(to bottom,
                                      rgba(255, 255, 255, 0.075) 45%,
                                      rgba(0, 0, 0, 0) 55%);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.yc-button-digit > div {
    color: #ddd;
    background-color: #333;
}

.yc-button-utility > div {
    color: #ddd;
    background-color: #626669;
}

.yc-button-math > div {
    color: #ddd;
    background-color: #464;
}

.yc-button-destruction > div {
    color: #ddd;
    background-color: #c33;
}

.yc-button-a0 { top: 25%; left: 0%; }
.yc-button-a1 { top: 25%; left: 20%; }
.yc-button-a2 { top: 25%; left: 40%; }
.yc-button-a3 { top: 25%; left: 60%; }
.yc-button-a4 { top: 25%; left: 80%; }

.yc-button-b0 { top: 40%; left: 0%; }
.yc-button-b1 { top: 40%; left: 20%; }
.yc-button-b2 { top: 40%; left: 40%; }
.yc-button-b3 { top: 40%; left: 60%; }
.yc-button-b4 { top: 40%; left: 80%; }

.yc-button-c0 { top: 55%; left: 0%; }
.yc-button-c1 { top: 55%; left: 20%; }
.yc-button-c2 { top: 55%; left: 40%; }
.yc-button-c3 { top: 55%; left: 60%; }
.yc-button-c4 { top: 55%; left: 80%; }

.yc-button-d0 { top: 70%; left: 0%; }
.yc-button-d1 { top: 70%; left: 20%; }
.yc-button-d2 { top: 70%; left: 40%; }
.yc-button-d3 { top: 70%; left: 60%; }
.yc-button-d4 { top: 70%; left: 80%; }

.yc-button-e0 { top: 85%; left: 0%; }
.yc-button-e1 { top: 85%; left: 20%; }
.yc-button-e2 { top: 85%; left: 40%; }
.yc-button-e3 { top: 85%; left: 60%; }
.yc-button-e4 { top: 85%; left: 80%; }

.yc-timer {
    top: 85%;
    left: 0%;

    width: 40%;
    height: 15%;

    font-family: 'Liquid Crystal';
}

.yc-timer-inner {
    color: #f12938;
    text-shadow: 0 0 3px #f12938;
    background-color: #000000;
    border: 1px solid rgba(241, 41, 56, .05);
    box-shadow: 0 0 2px 1px rgba(241, 41, 56, 0.33);
}

@media screen and (max-height: 460px) {
    .yc-life-points {
        font-size: 52px;
    }
    .yc-life-points-overflowing {
        font-size: 38px;
    }
    .yc-expression {
        font-size: 38px;
    }
    .yc-button,
    .yc-timer {
        font-size: 48px;
    }
}
