@charset "UTF-8";

@font-face {
  font-family: "yc-icons";
  src: url("fonts/yc-icons.eot");
  src: url("fonts/yc-icons.eot?#iefix") format("embedded-opentype"),
       url("fonts/yc-icons.woff") format("woff"),
       url("fonts/yc-icons.ttf") format("truetype"),
       url("fonts/yc-icons.svg#yc-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "yc-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="yc-icon-"]:before,
[class*=" yc-icon-"]:before {
  font-family: "yc-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yc-icon-erase:before {
  content: "\61";
}
.yc-icon-back-in-time:before {
  content: "\62";
}
.yc-icon-ccw:before {
  content: "\63";
}
.yc-icon-back:before {
  content: "\64";
}
.yc-icon-book:before {
  content: "\65";
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/ubuntu-mono.woff2') format('woff2'),
       url('fonts/ubuntu-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
