.yc-layout {
  height: 100%;
}

.yc-layout-row {
  display: flex;
}

.yc-layout .yc-lp {
  height: 24%; /* TODO: Remove fudge factor */
  font-size: 13vh;
}

.yc-layout-modeline,
.yc-layout-underline {
  height: 10%;
  font-size: 9vh;
}

.yc-layout-modeline .yc-modeline-button,
.yc-layout-operand-table {
  height: 100%;
}

.yc-layout-modeline .yc-modeline-button {
  width: 20%;
}

.yc-layout-operand-table {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.yc-layout-operand-spacer {
  height: 100%;
  flex: 2;
}

.yc-layout-operand-cell {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.yc-layout-operand-anchor {
  height: 100%;
  position: relative;
}

.yc-layout-operand-anchor .yc-operand {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.yc-layout-digits {
  height: 15%;
  font-size: 13vh;
}

.yc-layout-digits .yc-digit {
  width: 100%;
  height: 100%;
}

.yc-layout-underline .yc-timer {
  width: 60%;
}

.yc-layout-more {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}
