.yc-layout {
  height: 100%;
}

.yc-layout-row {
  display: flex;
}

.yc-layout .yc-lp,
.yc-layout-modeline,
.yc-layout-underline {
  height: 10%;
  font-size: 9vh;
}

.yc-layout-modeline .yc-modeline-button,
.yc-layout-modeline .yc-operand {
  height: 100%;
}

.yc-layout-modeline .yc-modeline-button {
  width: 20%;
}

.yc-layout-modeline .yc-operand {
  flex: 1;
  margin-right: 1%;
}

.yc-layout-digits {
  height: 15%;
  font-size: 13vh;
}

.yc-layout-digits .yc-digit {
  width: 100%;
  height: 100%;
}

.yc-layout-underline .yc-timer {
  width: 50%;
}
