.yc-lp {
  display: flex;
}

.yc-lp-val,
.yc-lp-gain,
.yc-lp-lose {
  height: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yc-lp-val {
  flex: 1;
}

.yc-lp-gain,
.yc-lp-lose {
  width: 15%;
}
